{{ if ne .Site.Params.powered_by false }}
  <p class="muted">
    This page was generated using
    <a target="_blank" rel="noopener" href="https://comfusion.github.io/after-dark/">After Dark</a>
    for
    <a target="_blank" rel="noopener" href="https://gohugo.io/">Hugo</a>.
    <br />
    If not stated otherwise, the content is released unter the 
    <a href="https://github.com/vbrandl/vbrandl.net/blob/master/LICENSE">CC-BY-SA-4.0</a>
    license.
  </p>
{{ end }}
